license
mvc.sql
readme.md
config.php
license
*.fuse_hidden*
php_errors.log
template_compile/*
uploads/thumbnails/*
uploads/trabalhos/*
uploads/banners/*
views/plataforma/*
public/images/bagunca/*
public/images/editar/*
public/images/originais/*
config.back
