<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Alunos</h3>
			<button id="botao_clone_aluno" type="button" class="btn btn-primary pull-right" style="margin-top: -25px;">Adicionar Aluno</button>
		</div>
		<div class="panel-body">
			<div id="conteiner_clone_aluno" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
			</div>
			<div id="nenhum_clone_aluno_adicionado" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
			    <label>Nenhum aluno adicionado</label>
			</div>
		</div>
	</div>
</div>

<div id="clonar_aluno" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" data-id_clone_aluno="$id_clone_aluno" style="display: none;">
	<div id="box_clone_aluno_$id_clone_aluno" class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Aluno $id_clone_aluno</h3>
		</div>
		<div class="panel-body">
			<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
			    <label>Nome</label>
			    <br>
			    <input id="nome_aluno_$id_clone_aluno" type="text" class="form-control" name="{$modulo.modulo}[aluno][$id_clone_aluno][nome]" style="width: 100%;" required disabled>
			</div>

			<div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-8">
			    <label>Email</label>
			    <br>
			    <input id="email_aluno_$id_clone_aluno" type="text" class="form-control" name="{$modulo.modulo}[aluno][$id_clone_aluno][email_aluno]" style="width: 100%;" required disabled>
			</div>

			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
			    <label>RGM</label>
			    <input id="rgm_aluno_$id_clone_aluno" type="text" class="form-control" name="{$modulo.modulo}[aluno][$id_clone_aluno][rgm]" value="" disabled>
			</div>
		</div>
		<div class="panel-footer">
			<button id="remover_clone_aluno_$id_clone_aluno" type="button" class="btn btn-danger pull-right remove-box">Remover aluno</button>
        	<div class="clearfix"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#botao_clone_aluno').on('click', function(){
            clone_aluno_box();
        });
    });

	function clone_aluno_box(){
		var container_clone    = $('#conteiner_clone_aluno');
	    var id_container_clone = ($("#conteiner_clone_aluno > div").length) + 1;

	    $('#nenhum_clone_aluno_adicionado').hide();

	    var clone = $('#clonar_aluno').html();
	    clone     = clone.replaceAll("$id_clone_aluno", id_container_clone);
	    clone     = clone.replaceAll("disabled", "", clone);

	    container_clone.prepend(clone);

	    $('#remover_clone_aluno_' + id_container_clone).on('click', function(){
	        $('#box_clone_aluno_' + id_container_clone).remove();

	        if($("#conteiner_clone_aluno > div").length == 0){
	    		$('#nenhum_clone_aluno_adicionado').show();
	        }
	    });

	    return id_container_clone;
	}
</script>